body{
	background-color : wheat;
	display : flex;
	justify-content : center;
}

ul{
	background-color : white;
	width : 400px;
	display : flex;
	flex-direction: column;
	justify-content : center;
	align-items : center;
}
li{
	list-style-type : none;
	padding : 2px;
	border : 1px solid lightblue;
}