div{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	display : flex;
	display-direction : columns;
	justify-content : center;
	align-items:center;
}
#band{
	
	width: 100vh;
	height : 100%;
	
	color : white;
	text-align : center;
}
li{
	list-style-type: none;
	background-color : white;
	color : black;
}